*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana;
    text-transform: capitalize;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, red 50%, black 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.toDo{
    position: absolute;
    top: 5%;
    height: auto;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 5px 10px 18px #5372ff;
}
.input{
    background: white;
    color: black;
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 3px;
}
.input::placeholder{
    color: black;
    padding: 0 3px;
    font-weight: bold;
}
ul li{
    height: 40px;
    background: skyblue;
    color: black;
    margin: 10px 0;
    padding: 5px;
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
}
ul li .check{
    color: green;
    cursor: pointer;
    position: relative;
    align-items: flex-end;
}
ul li .delete{
    color: red;
    cursor: pointer;
}
  
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: black;
}

.themeSwitcher{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    background: #000;
}
.theme{
    background: #000;
    padding: 20px;
    margin: 20px;
}
.col1{
    background: linear-gradient(-45deg, yellow 50%, black 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.col2{
    background: linear-gradient(45deg, green 50%, black 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.col3{
    background: linear-gradient(-45deg, skyblue 50%, black 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.col4{
    background: linear-gradient(45deg, rgb(255, 0, 221) 50%, black 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}